<div class="container">
            <h3>ข้อมูลการศึกษา</h3>
            {{#with myData.education}}
        <p> <b> การศึกษาชั้นมัธยมศึกษาตอนต้น:</b> {{edu1}} <br>
        <b>การศึกษาชั้นมัธยมศึกษาตอนปลาย:</b>  {{edu2}} <br>
        <b> การศึกษาปัจจุบัน :</b> {{edu3}} <br>
            </p>
        {{/with}}
        </div>
