<center>
<h1 >Hello, My name is {{myData.name}}</h1>
<h2>{{myData.work}}</h2>
<div class="pro">
<img src="img\119137737_725594031356410_9011285860922681500_n.jpg" alt=""></div>
</center>
<div class="container">
    <p>Portfolio นี้จัดทำขึ้นเพื่อเป็นตัวแทนเสนอข้อมูลเกี่ยวกับประวัติส่วนตัวประวัติการศึกษาความรู้ความสามารถ ทักษะและความสามารถพิเศษ ตลอดจนการพัฒนาด้านต่างๆ

</p>
</div>
