<div class="con">
        <h1 class="ss" align=center>ด้านความสามารถ</h1>
        <div class=" pass2">
            <h1>Skill Set</h1>
            <div class="bar learning" data-skill="JAVA">10%</div>
            <div class="bar back basic" data-skill="JS">40%</div>
            <div class="bar back intermediate" data-skill="PHP">60%</div>
            <div class="bar front advanced" data-skill="CSS3">40%</div>
            <div class="bar cad sql" data-skill="SQL">80%</div>
            <div class="bar front expert" data-skill="HTML5">70%</div> <br>
        </div>
        <center>
           
    </div>